<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To Elementor!</title>
  <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v[X.Y.Z]/dist/font-face.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
</head>
  <body style="font-family: Vazir">
    <div class="container mt-4">
      <% if error %>
        <div class="alert alert-danger" role="alert">
          مشکلی پیش آمده!
        </div>
      <% end %>
      <form method="get" action="/" class="mb-4">
        <div class="row">
          <div class="col">
            <label for="a_n">عدد اتمی</label>
            <input type="number" name="atomic_number" id="a_n" class="form-control" max="118" min="1">
          </div>
          <div class="col">
            <label for="s">نماد</label>
            <input type="text" name="symbol" id="s" class="form-control">
          </div>
          <div class="col">
            <label for="c">بار</label>
            <input type="number" name="charge" value="0" class="form-control" id="c">
          </div>
          <div class="col">
            <br>
            <button type="submit" class="btn btn-primary mt-2">جستجو</button>
          </div>
        </div>
      </form>
    
    <% if element.nil? %>
      <h3>لطفا فرم بالا را پر کنید</h3>
    <% else %>
        <h1><%= element.symbol %></h1>
        <table class="table table-bordered table-responsive-md">
          <tr>
            <th>نام کامل</th>
            <th>عدد اتمی</th>
            <th>بار</th>
            <th>گروه</th>
            <th>دوره</th>
            <th>آیا گاز نجیب است؟</th>
          </tr>
          <tr>
            <td><%= element.name.capitalize %></td>
            <td><%= element.atomic_number %></td>
            <td><%= element.charge %></td>
            <td><%= element.group %></td>
            <td><%= element.period %></td>
            <td><%= element.is_nobel_gas ? "Yes" : "No" %></td>
          </tr>
        </table> 
        <p><b> آرایش الکترونی مرتب‌شده:</b><%= electron_configuration_to_s(element.electron_configuration) %><p>
        <p><b>آرایش الکترونی مرتب‌نشده: </b><%= electron_configuration_to_s(element.electron_configuration(sorted: false)) %><p>
        <p><b>آرایش الکترونی فشرده: </b><%= element.human_friendly_c_e_c() %><p>
      </div>
  
    <% end %>
  </body>
</html>
